@model ICollection<ItemViewModel>
@{
    this.ViewData["Title"] = "Всички Продукти";
}
<h1 class="text-center">@this.ViewData["Title"]</h1>
<div class="row">
    @foreach (var item in this.Model)
    {
        <div class="media col-md-3 border border-info" style="display: block;margin-left: 5px">
            <img class="img-fluid" style="width: 400px; height: auto" src="@item.ImageLink" alt="">

            <div class="media-body justify-content-center text-center ">
                <h5 class="mt-0">@item.Name</h5>
                <h5 class="mt-1">Цена: @item.Price лв.</h5>
                <a class="btn btn-success btn-outline-warning text-white" asp-area="" asp-controller="Items" asp-action="InfoById" asp-route-id="@item.Id">Детайли</a><br />
            </div>
        </div>
    }
</div>