@model OrderViewModel;
@{
    this.ViewData["Title"] = $"Инфо за поръчка Nº {Model.Id}";
}
<h1 class="text-center text-white">@this.ViewData["Title"]</h1>
@if (Model.IsCompleted)
{
    <div class="alert alert-success text-center" role="alert">
        Статус: <strong>ЗАВЪРШЕНА</strong>
    </div>
}
else if (Model.IsConfirmed == false)
{
<div class="alert alert-danger text-center" role="alert">
    Статус: <strong>Отказана</strong>
</div>

}
else if (Model.IsConfirmed == null)
{
    <div class="alert alert-warning text-center" role="alert">
        Статус: <strong>Непотвърдена</strong>
    </div>

}
else if (Model.IsConfirmed == true)
{
    <div class="alert alert-success text-center" role="alert">
        Статус: <strong>Потвърдена</strong>
    </div>
}
<img class="img-fluid img-thumbnail custom-shadow" src="@Model.ItemImageLink""/>
<p class="text-white">Продукт - @Model.ItemName</p>
<p class="text-white">Количество - @Model.Quantity</p>
<p class="text-white">Коментар - @Model.Note</p>
<p class="text-white">Дата на поръчване - @Model.CreatedOn.ToShortDateString()</p>