@using System.Net.NetworkInformation
@model ICollection<OrderViewModel>
@{
    this.ViewData["Title"] = "Моите поръчки";
}
@if (Model.Any())
{
    <h1 class="text-white">@this.ViewData["Title"]:</h1>
    <table class="table table-striped text-center text-white custom-shadow">
        <tr>
            <th>Продукт:</th>
            <th>Количество:</th>
            <th>Създадена на:</th>
            <th>Информация:</th>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.ItemName</td>
                <td>@order.Quantity бр.</td>
                <td><i class="fas fa-calendar-day"></i> @order.CreatedOn.ToShortDateString()</td>
                <td><a asp-area="" asp-controller="Orders" asp-action="GetOrderInfo" asp-route-id="@order.Id"class="btn btn-info">Информация</a></td>
            </tr>
        }
    </table>
}
else
{
    <h1>Нямате направени поръчки</h1>
}